       body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt3MU-H_OO4t5TgICd8lfscd6vFlnVE2RcZQ&s");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
